.nav {
    padding: 30px 0;
}

#main {
    flex-grow: 1;
}

#page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: stretch;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    position: relative;
}

.page-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

form {
    display: block;
}

form label {
    max-width: 600px;
}

.btn.btn-ghost {
    background: transparent;
    border: 3px dashed #28a5a8;
    transition: all 0.8s ease-in-out;
    transition: color 0.5s, background 0.6s ease-in-out, border 0.6s ease-in-out;
    color: #28a5a8;
}

.result {
    display: flex;
    flex-flow: column nowrap;
}

.result > a + a {
    margin-top: 20px;
}

footer .navbar {
    flex-direction: row-reverse;
}

small {
    color: #ccc;
}

.btn.btn-ghost:hover {
    background: #28a5a8;
    border-color: transparent;
    color: white;
}

.btn.btn-main {
    display:flex;
    justify-content: center;
    align-items: center;

    padding: 0 60px;
    border-width: 6px;
    border-radius: 10px;
    font-size: 26px;
    height: 171px;
}

.btn.btn-main + .btn.btn-main {
    margin-left: 30px;
}

@media screen and (max-width: 992px) {
    .btn.btn-main {
        padding: 0 45px;
        border-width: 4px;
        border-radius: 7px;
        font-size: 22px;
        height: 130px;
    }

    .btn.btn-main + .btn.btn-main {
        margin-left: 20px;
    }
}