<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="redirect all requests" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
          </conditions>
          <action type="Rewrite" url="public/index.php" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>

    <!-- <httpProtocol>
        <customHeaders>
            <add name="Access-Control-Allow-Origin" value="*" />
            <add name="Access-Control-Allow-Headers" value="*" />
            <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        </customHeaders>
    </httpProtocol> -->
    <handlers>
        <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
        <remove name="OPTIONSVerbHandler" />

        <remove name="WebDAV" />
        <remove name="PHP7.0-FastCGI-php" />
        <add name="PHP7.0-FastCGI-php" path="*.php" verb="GET,HEAD,POST,DELETE,PUT,OPTIONS" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\Parallels\Plesk\Additional\PleskPHP80\php-cgi.exe" resourceType="Either" requireAccess="Script" />
    </handlers>

  
      <modules>
        <remove name="WebDAVModule" />
    </modules>
        <ModSecurity enabled="false" />
  </system.webServer>
  <system.web>
    <compilation tempDirectory="C:\inetpub\vhosts\u1316735.plsk.regruhosting.ru\tmp" />
  </system.web>
</configuration>
